<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chajiu.mapper.PoetryMapper">
    <select id="findOne" parameterType="poetry" resultType="poetry">
        select * from poetry
        <where>
            <choose>
                <when test="id!=null">
                    AND id=#{id}
                </when>
                <when test="title!=null">
                    AND title=#{title}
                </when>
            </choose>
        </where>
    </select>
</mapper>