<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.chajiu.mapper.SharedImgMapper">

    <resultMap id="bean" type="sharedImg">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="fileName" column="filename"/>
        <result property="date" column="date"/>
    </resultMap>
    <select id="find" resultMap="bean">
        select * from sharedimg where pid=#{pid}
    </select>

    <insert id="save" parameterType="sharedImg">
        insert into sharedimg(pid,filename,date) values(#{pid},#{fileName},#{date})
    </insert>

    <delete id="delete" parameterType="sharedImg">
        delete from sharedimg where id=#{id}
    </delete>
</mapper>