<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
	<script src="/node_modules/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="/node_modules/element-ui/lib/theme-chalk/index.css">
	<script src="/node_modules/element-ui/lib/index.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<style>
	[v-cloak]{
		display: none;
	}

input::-webkit-input-placeholder { 
    /* WebKit browsers */ 
    font-size:17px;
    color: #333;
    font-family:NSimSun; 
} 
input::-moz-placeholder { 
    /* Mozilla Firefox 19+ */ 
    font-size:17px;
    color: #333;
    font-family:NSimSun;
} 
input:-ms-input-placeholder { 
    /* Internet Explorer 10+ */ 
    font-size:17px;
    color: #333;
    font-family:NSimSun;
}
.middle{
	display:inline-block;
	width:80%;
	height: 629px;
	border: #C8C7BC solid 1.5px;
	background-color:#F0EFE2;
	border-radius: 15px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	margin-top: 13px;
	margin-left: 10%
}

	</style>

</head>
<body style="background-color: #E1E0C7">
	<div id="container" class="container">
		<common-navigator></common-navigator>
	<div class="middle">
		<div style="margin-top: 150px;margin-left: 32%">
		<el-form :label-position="labelPosition" label-width="80px" :model="formLabelAlign" >
		  <el-form-item label="用户名">
		    <el-input class="input" v-model="formLabelAlign.username" placeholder="请输入用户名" style="width:300px" ></el-input>
		  </el-form-item>
		  <el-form-item label="密码">
		    <el-input type="password" class="input" v-model="formLabelAlign.password" placeholder="请输入密码" style="width:300px;" ></el-input>
		  </el-form-item>
		</el-form>
		 <el-link target="_blank" style="margin: 10px 90px;color:#328DCE"
		 @click="jumptoregister">没有账号？请点击此处注册</el-link><br/>
	<el-button type="success" round style="margin: 10px 80px;width:270px" v-text="text1"  @click="add"  ></el-button>
	</div>
	</div>
	</div>
	<script>

			Vue.component('common-navigator',{
				template:`<div v-cloak>
					<el-menu
					  :default-active="activeIndex2"
					  class="el-menu-demo"
					  mode="horizontal"
					  background-color="#5D6146"
					  text-color="#fff"
					  active-text-color="#F0EFE2"
					  >
					
		<img src="/photo/1.png" style="float:left;margin-left:120px;
		margin-top:5px;width:60px;height:50px;">
					
		  <el-menu-item index="1" ><a href="/view/main.html">{{text1}}</a></el-menu-item>
		  
		  <el-menu-item index="3" ><a href="/view/sort.html">{{text3}}</a></el-menu-item>
		  <el-menu-item index="5" style="float: right;margin-right: 170px" @click="jump">{{text5}}&nbsp;<span class="demo-basic--circle"><span class="block"><el-avatar :size="26" :src="url" style="margin-bottom: 8px"></el-avatar></span></span></el-menu-item>
		</el-menu>
				
				</div>`,
				data(){
					return{
						activeIndex2: '5',
								text1:'首页',
								// text2:'诗文',
								text3:'分类',
								// text4:'社区',
								text5:'登录',
								url:'/photo/head.png'
						
					}
				},
				methods:{
					checkuser(){
						var uri="/api/user/login/check"
						axios({
						 	 method: 'get',
							  url: uri,
							 })
					    .then(response =>
					      { 
					      	if(response.data.code==200)
					      	{
						       
						      	this.text5="用户中心"
					       	}
					      })
					      .catch(function (error) { // 请求失败处理
					        console.log(error);
					      });
					  },
					  jump(){
					  	if(this.text5=="登录")
					  	{
							window.location.href='/view/login.html' ;
					  	}else{
							window.location.href='/view/usercenter.html' ;
					  	}
					  }
					},
					mounted:function(){
						this.checkuser();
					}

			});

		new Vue({
			data(){
				return{
				 	 labelPosition: 'right',
					 formLabelAlign: {
			          username: '',
			          password: ''
			        },
			        text1:'登录'
				 }
				},
			methods:{
				jumptoregister(){
					window.location.href= '/view/register.html';
				},
				open() {
			        this.$message('恭喜，登录成功');
			      },
			      fail() {
			        this.$alert('登录失败', '抱歉', {
			          confirmButtonText: '确定',
			          callback: action => {
			            this.$message({
			              type: 'info',
			              message: `action: ${ action }`
			            });
			          }
			        });
			      },
				NullClick(){
						if(this.formLabelAlign.username==''||this.formLabelAlign.password==''){
							this.$alert('输入框不能为空', '警告', {
					          confirmButtonText: '确定',
					          callback: action => {
					            this.$message({
					              type: 'info',
					              message: `action: ${ action }`
					            });
					          }
					        });
					        return true;
						}
						return false;
					},
			
			
			add() {
				if(this.NullClick() != true){
						
				      	axios({
				      			method:'post',
				      			url:'/api/user/login',
				      			data:{
							      	 username:this.formLabelAlign.username,
						             password:this.formLabelAlign.password
		   					   }
				  		})
					    .then(response =>
					      { 
					      	console.log("1");
					      	if(response.data.code == 200){
					      		console.log("2");
					      		this.open();
					      		window.location.href='/view/main.html';
					      		
					      	}
					      	else{
						  		this.fail();
					      	}
							
					      })
					      .catch(function (error) { // 请求失败处理
					        console.log(error);
					      });
				}
			    
			  }
			}
		}).$mount('#container')
	</script>
</body>
</html>